.container.proto-new
  = form_for @prototype do |f|
    = f.hidden_field :user_id, value: current_user.id
    .col-md-8.col-md-offset-2
      %header.row.user-nav.row
        .col-md-12
          %h4 Title
          .proto-new-title
            = f.text_field :title, required: true, autofocus: true, placeholder: "Input Title"
      .row
        .col-md-12
          %h4 Main Thumbnail
          .cover-image-upload#main_image_uploader
            = image_tag(@prototype.set_main_thumbnail.large, alt: "main_photo", class: 'img-responsive img-size-fix', style: "margin: 0 auto;")
            = f.fields_for :captured_images, @prototype.captured_images do |image|
              = image.file_field :content, required: true
              = image.hidden_field :status, value: "main"
        .col-md-12
          %h4 Sub Thumbnails
          %ul.proto-sub-list.list-group
          - if (@prototype.captured_images.sub.present?)
            = f.fields_for :captured_images, @prototype.captured_images.sub do |image|
              %li.list-group-item.col-md-4.present
                .image-upload.sub_image_uploader
                  = image.file_field :content, class: 'sub_image_file'
                  = image.hidden_field :status, value: "sub"
                  %img{src: image.object.content,alt: "sub_photo",class: 'img-responsive img-size-fix', style: "margin: 0 auto;"}
              / = f.fields_for :captured_images, @prototype.captured_images do |image|
              /   %li.list-group-item.col-md-4.none
              /     .image-upload
              /       %img
              /       = image.file_field :content
              /       = image.hidden_field :status, value: "sub"
          - else
            - 3.times do |t|
              = f.fields_for :captured_images, @prototype.captured_images do |image|
                %li.list-group-item.col-md-4
                  .image-upload.sub_image_uploader
                    %img
                      = image.file_field :content, class: 'sub_image_file'
                      = image.hidden_field :status, value: "sub"

      .row.proto-description
        .col-md-12
          %h4 Catch Copy
          = f.text_field :catch_copy, require: true, placeholder: "Input Catch Copy"
        .col-md-12
          %h4 Concept
          = f.text_area :concept, require: true, placeholder: "Input Concept"
          = f.hidden_field :likes_count, value: '0'
      .row.text-center.proto-btn
        = f.submit "UPDATE", id: "button", class: "btn btn-lg btn-primary btn-block"
